<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

          <div class="home">
            <div style="overflow: auto">
              <div style="display: inline-block; width:30%; vertical-align: middle;">
                <img src={{ "/images/Siddhant.jpg" | absolute_url}} alt="Siddhant Ranade">
              </div>

              <div style="display: inline-block;; vertical-align: middle;">
                <ul style="list-style-type:none;">
                    <li>
                      {% if site.author %}
                        <h2>{{ site.author | escape }}</h2>
                      {% else %}
                        <h2>{{ site.title | escape }}</h2>
                      {% endif %}
                    </li>
                    {% if site.email %}
                    <li>{{ site.email }}</li>
                    {% endif %}
                    {% include social.html %}
                  </ul>
              </div>

            </div>
          </div>

          <div style="">
            <h2>About me</h2>
            {{ content }}
          </div>

      </div>
    </main>

  </body>

</html>
