<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

          <div class="home">
            <div style="overflow: auto">
              <div style="display: inline-block; width:30%;">
                <img src={{ "/images/Siddhant.jpg" | absolute_url}} alt="Siddhant Ranade">
              </div>

              <div style="display: inline-block;">
                <ul style="list-style-type:none;">
                    <li>
                      {% if site.author %}
                        <h2>{{ site.author | escape }}</h2>
                      {% else %}
                        <h2>{{ site.title | escape }}</h2>
                      {% endif %}
                      </li>
                      {% if site.email %}
                      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                      {% endif %}
                      {% if site.github_username %}
                      <li>
                        {% include icon-github.html username=site.github_username %}
                      </li>
                      {% endif %}
                  </ul>
              </div>

            </div>
          </div>

          <div style="">
              <h2>About me</h2>
              <p>I am a PhD student in the <a href="https://www.cs.utah.edu/">School of Computing</a> at the <a href="https://www.utah.edu/">University of Utah</a>, advised by <a href="https://www.cs.utah.edu/~srikumar/">Prof. Srikumar Ramalingam</a>.</p>
              
              <p>My research focuses on Computer Vision, particularly scene reconstruction.</p>
              
              <p>I earned my Bachelors degree from the <a href="http://www.iitb.ac.in/">Indian Institute of Technology Bombay</a>, where I majored in Engineering Physics, with a minor in Computer Science.  At IITB, I worked with Prof. <a href="https://www.cse.iitb.ac.in/~sidch/">Siddhartha Chaudhuri</a> on my Bachelors Thesis titled Material Prediction for Untextured 3D Models from 2D Images.</p>
          {{ content }}
          </div>

      </div>
    </main>

  </body>

</html>
